.contact {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 60px;
}

.input {
    padding-bottom: 30px;
    width: 100%;
}

.inputDescription {
    padding-bottom: 10px;
}

.submitMessage {
    padding-bottom: 500px;
}