.infoBoxes {
    padding-top: 10px;
    padding-bottom: 40px;
}

.infoBox {
    padding-bottom: 90px;
    padding-left: 3%;
    padding-right: 3%;
}

.infoBoxGray {
    background-color: linear-gradient(gray, white);
}

.infoBoxWhite {
    background-color: white;
    padding-bottom: 90px;
}

.infoBoxWhitePlans {
    background-color: white;
    padding-bottom: 60px;
    padding-top: 0px;
}

.infoBoxWhiteWorkflow {
    background-color: white;
    padding-bottom: 90px;
}

.infoBoxContent {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}

.infoBoxImage {
    padding: 0px;
}

.infoBoxInfo {
    margin-left: 15px;
    width: 95%;
}

.infoBoxHeader {
    font-size: larger;
    margin-bottom: 50px;
    margin-left: 30px;
}

.infoBoxText {
    margin-bottom: 15px;
}

.stepContainer {
    justify-content: center;
}

.step {
    width: 150px;
    font-size: x-large;
    text-align: center;
}

.stepText {
    font-size: medium;
    padding-top: 10px;
}

.connector {
    width: 70px;
}

.button {
    width: 70px;
    padding-left: 30px;
}

.imgBw {
	filter: grayscale(1);
}

.planContainer {
    justify-content: space-evenly;
    text-align: center;
}

.planIncludesContainer {
    justify-content: space-evenly;
    text-align: left;
}

.planList {
    /*list-style-image: url("butterfly.png");*/
    list-style-type: none;
    margin-bottom: 5px;
    font-size: large;
}

.includedList {
    flex: 1;
    flex-grow: 6;
    padding-left: 10px;
}

.plan {
    padding: 30px;
}

.planThistle {
    background-color: thistle;
    padding: 30px;
}

.planBorder {
    padding: 30px;
    border-color: thistle;
    border-left-style: solid;
}

.planHeading {
    font-size: xxx-large;
    padding-bottom: 30px;
    font-weight: 200;
}

.whoHeading {
    font-size: xx-large;
    font-weight: 200;
}

.planText {
    font-size: large;
    font-weight: lighter;
    padding-bottom: 20px;
}

.whoText {
    flex: 1;
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    display: block;
}

.planPrice {
    text-align: center;
    font-size: xx-large;
}

.planInfo {
    border-color: thistle;
    border-top-style: solid;
}

.planPriceInfoExtra {
    padding-bottom: 40px;
    font-size: small;
}

.planPriceInfo {
    padding-bottom: 40px;
    font-size: small;
}

.planTitle {
    padding-top: 20px;
    flex: 1;
}

.whoTitle {
    padding-top: 20px;
    flex: 1;
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-right: 10px;
}

.whoIcon {
    flex: 1;
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    font-size: xxx-large;
    padding-bottom: 30px;
    margin-right: 10px;
}

.whoButton {
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 10px;
}

.subscriptionIcon {
    filter: invert(11%) sepia(88%) saturate(2202%) hue-rotate(276deg) brightness(95%) contrast(114%);
    flex-grow: 1;
    flex: 1;
}

.planPricing {
    padding-top: 20px;
    flex: 1;
}

.planCTA {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
    border-color: thistle;
    border-bottom-style: solid;
}

.planCTAThistle {
    border-color: purple;
    border-bottom-style: solid;
}

.planIncluded {
    flex: 1;
}

.whyContent {
    justify-content: center;
    align-items: center;
}

.whyImage {
    flex-grow: 1;
}

.whyText {
    flex-grow: 2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
    font-weight: lighter;
    text-align: justify;
}

.whyLabel {
    font-size: medium;
    font-weight: 500; 
}

.imgWhy {
    height: 230px;
}

.imgCard {
    height: 140;
}

.whyCard {
    height: 300;
}

.endCOA {
    justify-content: center;
}

.card {
    flex-grow: 1;
    padding: 20px;
    border-color: purple;
    border-style: solid;
    border-width: thin;
    margin-right: 20px;
    border-radius: 10px;
}

.cardTitle {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: large;
}

.cardTitle2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.cardText {
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 5px;
}

.cardImage {
    height: 200px;
    margin-bottom: 20px;
}

.grayBackground {
    background-color:linear-gradient(90deg, rgba(169,169,169,1) 0%, rgba(255,255,255,1) 100%);
}
