.pricing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
}

/* css for small screens */
@media (max-width: 600px) {
    .pricing-grid {
        display: grid;
        grid-template-columns: 1fr;
        border-top: 1px solid #d5dce0;
        border-bottom: 1px solid #d5dce0;
    }

    .one {
        grid-row: 1;
    }

    .two {
        grid-row: 2;
    }

    .three {
        grid-row: 3;
    }

    .four {
        grid-row: 4;
    }

    .five {
        grid-row: 5;
    }

    .six {
        grid-row: 6;
    }

    .seven {
        grid-row: 7;
    }

    .eight {
        grid-row: 8;
    }

    .nine {
        grid-row: 9;
    }

    .ten {
        grid-row: 10;
    }

    .eleven {
        grid-row: 11;
    }

    .twelve {
        grid-row: 12;
    }

    .thirteen {
        grid-row: 13;
    }

    .fourteen {
        grid-row: 14;
    }

    .fivteen {
        grid-row: 15;
    }

    .sixteen {
        grid-row: 16;
    }

    #basic-checkbox:checked ~ .planHeading:after {
        content: "-";
        font-size: 36px;
        color: #151b26;
        transform: translateX(-180%);
    }

    #premium-checkbox:checked ~ .planHeading:after {
        content: "-";
        font-size: 36px;
        color: #151b26;
        transform: translateX(-180%);
    }

    #business-checkbox:checked ~ .planHeading:after {
        content: "-";
        font-size: 36px;
        color: #151b26;
        transform: translateX(-180%);
    }

    #enterprise-checkbox:checked ~ .planHeading:after {
        content: "-";
        font-size: 36px;
        color: #151b26;
        transform: translateX(-180%);
    }

    .planHeading:after {
        content: "+";
        font-size: 36px;
        font-weight: 300;
        color: #b7bfc6;
        line-height: 36px;
        position: absolute;
        right: 0; 
        transform: translateX(-120%);
    }
}

.checkbox-invisible{
    display: none;
}

.contentContainer {
    margin: auto;
    max-width: 1312px;
}

.infoBoxes {
    padding-top: 10px;
    padding-bottom: 40px;
}

.infoBox {
    padding-bottom: 90px;
    padding-left: 3%;
    padding-right: 3%;
}

.infoBoxGray {
    background-color: linear-gradient(gray, white);
}

.infoBoxWhite {
    background-color: white;
    padding-bottom: 90px;
}

.infoBoxWhitePlans {
    background-color: white;
    padding-bottom: 60px;
    padding-top: 0px;
}

.infoBoxWhiteWorkflow {
    background-color: white;
    padding-bottom: 90px;
}

.infoBoxHeader {
    font-size: larger;
    margin-bottom: 50px;
    margin-left: 30px;
}

.infoBoxText {
    margin-bottom: 15px;
}

.infoBoxContent {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}

.infoBoxImage {
    padding: 0px;
}

.infoBoxInfo {
    margin-left: 15px;
    width: 95%;
}

.stepContainer {
    justify-content: center;
}

.step {
    width: 150px;
    font-size: x-large;
    text-align: center;
}

.stepText {
    font-size: medium;
    padding-top: 10px;
}

.connector {
    width: 70px;
}

.button {
    width: 70px;
    padding-left: 30px;
}

.imgBw {
	filter: grayscale(1);
}

.planContainer {
    justify-content: space-evenly;
    text-align: center;
}

.planIncludesContainer {
    justify-content: space-evenly;
    text-align: left;
}

.planList {
    /*list-style-image: url("butterfly.png");*/
    list-style-type: none;
    margin-bottom: 5px;
    font-size: large;
}

.includedList {
    flex: 1;
    flex-grow: 6;
    padding-left: 10px;
}

.plan {
    padding: 30px;
}

.planThistle {
    background-color: thistle;
    padding: 30px;
}

.planBorder {
    padding: 30px;
    border-color: thistle;
    border-left-style: solid;
}

.planHeading {
    font-size: xxx-large;
    padding-bottom: 30px;
    font-weight: 200;
}

.planTitle {
    padding-top: 20px;
    flex: 1;
}

.planText {
    font-size: large;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 30px;
}

.planPrice {
    text-align: center;
    font-size: xx-large;
}

.planInfo {
    border-color: thistle;
    border-top-style: solid;
}

.planPriceInfoExtra {
    padding-bottom: 40px;
    font-size: small;
}

.planPriceInfo {
    padding-bottom: 40px;
    font-size: small;
}

.subscriptionIcon {
    filter: invert(11%) sepia(88%) saturate(2202%) hue-rotate(276deg) brightness(95%) contrast(114%);
    flex-grow: 1;
    flex: 1;
}

.planPricing {
    padding-top: 20px;
    flex: 1;
}

.planCTA {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
    border-color: thistle;
    border-bottom-style: solid;
}

.planCTAThistle {
    border-color: purple;
    border-bottom-style: solid;
}

.planIncluded {
    flex: 1;
    text-align: left;
}


.whoHeading {
    font-size: xx-large;
    font-weight: 200;
}

.whoTitle {
    padding-top: 20px;
    flex: 1;
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-right: 10px;
    min-width: 340px;
    max-width: 500px;
}

.whoIcon {
    flex: 1;
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    font-size: xxx-large;
    padding-bottom: 30px;
    margin-right: 10px;
    min-width: 340px;
    max-width: 500px;
}


.whoText {
    flex: 1;
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    margin-right: 10px;
    display: block;
    min-width: 340px;
    max-width: 500px;
}

.whoButton {
    border-color: thistle;
    border-width: thin;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 10px;
    min-width: 340px;
    max-width: 500px;
}

.whyContent {
    justify-content: center;
    align-items: center;
}

.whyImage {
    flex-grow: 1;
}

.whyText {
    flex-grow: 2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
    font-weight: lighter;
    text-align: justify;
}

.whyLabel {
    font-size: medium;
    font-weight: 500; 
}

.imgWhy {
    height: 230px;
}

.imgCard {
    height: 140;
}

.whyCard {
    height: 300;
}

.endCOA {
    justify-content: center;
}

.grayBackground {
    background-color:linear-gradient(90deg, rgba(169,169,169,1) 0%, rgba(255,255,255,1) 100%);
}
