/* Capillary Table */
.employeesTable {
    min-height: auto;
    background-color: rgba(255, 255, 255, 1) !important;
    margin-top:10px;
}

.row-table{
    margin-right: auto;
    margin-left: auto;
    width: 93%;
}

.regionListColumns {
    margin: 0 auto;
    padding-left: 10px;  
}

/* Editing cell */
.editing-cell {
    margin-left: 30px;
}

.nodata-indication {
    color: rgb(65, 45, 65);
    text-align:left;
}


.tableEmployees{
    margin-left: 30px;
    overflow: auto;
    position: relative;
}
    .tableEmployees > div > .react-bootstrap-table > table {
        display: block;
        table-layout: auto;
    }

    .tableEmployees > div > .react-bootstrap-table > table > thead > tr {
        width: 100%;
        border-top: 1px #0E253A solid !important;
        border-bottom-width: 3px;
        border-bottom-style: solid !important;
        border-bottom-color: #0E253A !important;
    }
    
    .tableEmployees > div > .react-bootstrap-table > table > thead > tr > th {
        border-bottom-width: 0px !important;
        border-left-style: hidden !important;
        border-right-style: hidden !important;
        
    }
    .tableEmployees > div > .react-bootstrap-table > table > thead > tr > th:focus {
        outline:0;
    }

    .tableEmployees > div > .react-bootstrap-table > table > thead > tr > th > div > h5 {
        padding: 0px !important;
    }

    .tableEmployees > div > .react-bootstrap-table > table > tbody > tr {
        cursor: context-menu;
        border-top-width: 1px;
        border-top-style: solid !important;
        border-top-color: #0E253A !important;
        border-bottom-width: 2px;
        border-bottom-style: solid !important;
        border-bottom-color: #0E253A !important;
    }

    .tableEmployees > div > .react-bootstrap-table > table > tbody > tr:hover {
        background-color: thistle !important;
    }

    .tableEmployees > div > .react-bootstrap-table > table > tbody > tr > td {
        border-right-style: hidden !important;
        border-left-style: hidden !important;
    }

    .tableEmployees > div > .react-bootstrap-table > table > thead > tr > th > div > h5 > label > #text-filter-column-Email {
        height: 25px !important;
        width: 90%;
        font-family: 'Source Sans Pro';
    }

    .tableEmployees > div > .react-bootstrap-table > table > thead > tr > th > div > h5 > label > #select-filter-column-PANTHER\ Class {
        height: 25px !important;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        padding: 0px;
    }

    .filter.date-filter {
        display: inline-grid;
    }

    .custom-datefilter-class {
        color: #fff !important;
    }